/*
GERAL
*/
body{
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    color: #4d4d4d;
}
h1,h2,h3 {
    margin: 0;
    font-family: "Roboto Slab",  Helvetica, Arial, sans-serif;
    font-weight: 700;
}

.botao{
    color: #f1f1f1;
    text-decoration: none;
    padding: 10px 30px;
    background-color: #8f3faf;
    font-size: .9em;
    border-radius: 3px;
}